.About {
    background-color: #000000d5;
    min-height: 100%;
    height: max-content;
    width: 100%;
    display: flex;
    color: white;
    overflow-x: hidden;
}





.About-info {
    padding: 5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
}




.About-paragraph {
    font-size: 1.5rem;
    margin: 1rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    max-width: 1100px;
}

.About-paragraph svg {
    height: 12rem;
    width: auto;
    margin: 1.5rem;
    animation: live 12s linear infinite;

}


.About-p-pair {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
}




.About-paragraph svg path {
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill-opacity: 0;
    animation: live 15s ease-in-out infinite;
}



@media screen and (min-width: 768px) {
    .About-p-pair {
        flex-direction: row;
    }

    .About-p-pair:nth-of-type(2n+2) {
        flex-direction: row-reverse;
    }

}












@keyframes live {
    0% {
        stroke-dasharray: 100;
        stroke-dashoffset: 1;
        fill-opacity: 0.5;
    }

    50% {
        stroke-dasharray: 200;
        stroke-dashoffset: 1500;
        fill-opacity: 1;
    }

    100% {
        stroke-dasharray: 100;
        stroke-dashoffset: 1;
        fill-opacity: 0.5;
    }
}
























.About-action {
    position: relative;
    align-self: center;
    height: fit-content;
    width: fit-content;
    /* border-radius: 50%; */
    border: 2px solid #ffffffdd;
    transition: transform .25s ease-in-out;
}


.About-action svg {
    color: #ffffffdd;
    height: 50px;
    width: 50px;
    animation: attract 2s linear infinite;
}


.About-info .About-action::after {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .25s linear;
    border: 1px solid white;
    /* border-radius: 50%; */
}

.About-title:hover~.About-action,
.About-title:hover~.About-action::after {
    transform: translate3d(0, 2rem, 0);
}

.About-paragraph:hover~.About-action,
.About-paragraph:hover~.About-action::after {
    transform: translate3d(0, -2rem, 0);
}

.About-info ul:hover~.About-action,
.About-info ul:hover~.About-action::after {
    transform: translate3d(-2rem, 0, 0);
}

.About-intersecting:hover~.About-info .About-action,
.About-intersecting:hover~.About-info .About-action::after {
    transform: translate3d(2rem, 0, 0);
}






@keyframes attract {
    0% {
        transform: translate3d(0, 0, 0);
    }

    25% {
        transform: translate3d(0, 4px, 0);
    }

    50% {
        transform: translate3d(0, 0, 0);
    }

    75% {
        transform: translate3d(0, -4px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }

}