.ProjectSection-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.ProjectSection-title {
    align-self: flex-end;
    margin-right: 10rem;
}

.ProjectSection-projects {
    margin-top: 5rem;
}

.Project {
    display: flex;
    margin: 2rem 0;
    padding: 2rem;
}

.Project-img-container {
    position: relative;
    width: 30%;
    padding: 15px;
    /* border-radius: 15px; */
    border: 1px solid #000000dd;
}

.Project-img-container img {
    object-position: center;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: all .25s ease-in-out;
}


.Project-img-container:after {
    content: 'See more';
    position: absolute;

    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000077;
    transition: all .25s ease-in-out;

}

.Project-img-container:hover:after {
    opacity: 1;
}

.Project-img-container:hover img {
    filter: grayscale(0);
}

.Project-info-container {
    width: 70%;
    padding-left: 2rem;
}

.Project-title {
    font-size: 30px;
    margin-bottom: 1rem;
}

.Project-description {
    font-size: 20px;
}